@import url('utils.css');
@import url('glitch.css');

html{
    background-color: black;
}

html, body, html > body {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 30px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

h1, h2, h3, h4, h5, h6, p, a, b, small, strong, span, input, button, i, div, section { 
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#menu span,
#content span {
    background-color: #000000;
}

.span-block
{
    display: inline-block;
    padding: 0.05rem 0.1rem;
}
a, .link-style{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: #1010ff;
    display: inline-block;
    background-color: #000000;
}
a:hover, .link-style:hover{
    text-shadow: 3px 3px #ff0033, -3px -3px #00ff6699;
}

.link-style::before,
a::before{
    content: '['
}
.link-style::after,
a::after{
    content: ']'
}
.link-style:hover,
a:hover{
    color: #000000;
    background: #1010ff;
    cursor: pointer;
}
h1, h2, h3, h4, h5 { 
    color: red;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}
h2{
    margin: 0;
    text-align: center;
    background-color: black;
    padding: 0.5rem;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    color: #000000;
    background: #ff0000;
}

canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#content{
    position: relative;
    z-index: 10;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
}

#content::-webkit-scrollbar { 
    display: none; 
}

.container{
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    /* background: black; */
    min-height: 100vh;
    transition: all ease-in-out 0.3s;
    transition-delay: 0.3s;
}

.container.scrolling{
    background: rgba(0,0,0,0.9);
}




.section{
    padding-top: 50vh;
    min-height: 100vh;
}
.section > div{
    width: 100%;
}

.section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.section:first-child{
    margin-top: 100vh;
}

.section p { 
    font-family: monospace;
    font-weight: 600;
    font-size: 0.666rem;
    line-height: 1.3;
    padding: 0;
    text-align: center;
}
.section span { 
    font-weight: 600;
    font-size: 0.666rem;
    line-height: 1.3;
}


.last{
    padding-top: 0;
    text-align: right;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.last > div {
    width: 100%;
    text-align: left;
}

.bottom-text{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 11;
}
.top-text{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
}

img{
    display: inline-block;
    max-width: 100%;
    border:  none;
}

.flex{
    display: flex;
}
.flex div{
    border: none;
}

.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index:999;
}

.menu,
.menu .menu-flex 
.menu p
{
    pointer-events: none;
}

.menu .menu-flex
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.menu p
{
    text-align: center;
    width:  100%;
    padding: 0.2rem;
}

.menu p,
.menu p span
{
    font-family: VT323;
    font-size: 1rem;
    transition: all 0.3s;
    margin-bottom: 0;
}

.menu p span
{
    pointer-events: auto; 
}
.menu p.selected
/* .menu p.selected:not(:first-child) */
{
    margin-bottom: calc(100vh - 6rem);
}


.video_wrapper {
    position: relative;
    padding-bottom: 66%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    width: 100%;
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}